.BigMenu {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bigSearch {
  background: blue;
  width: 400px;
}


@media screen and (max-width: 1023px) {
  .BigMenu {
    display: none !important;
  }
}
