.BigMenu {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bigSearch {
  width: 600px;
}
.bigSearch form {
  width: 580px;
}

.bigSearch form input {
  width: 450px;
}


@media screen and (max-width: 1023px) {
  .BigMenu {
    display: none !important;
  }
}
