.BigMenu {
  width: 100%;
  height: 75px;
  position: relatuve;
  top: 0;
  left: 0;
  background: blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.BigMenuNom {
  display: flex;
  align-items: center;
  justify-content: center;
}


.bigSearch {
  width: 600px;
}
.bigSearch form {
  width: 580px;
}

.bigSearch form input {
  width: 450px;
  height: 40px;
  text-align: center;
  padding: auto auto;
  margin-right: 6px;
}

.bigSearch form button {
  height: 40px;
  padding: 5px;
}

.bigConnect {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bigCart {
  display: flex;
  justify-content: center;
  align-items: center;
}



@media screen and (max-width: 1023px) {
  .BigMenu {
    display: none !important;
  }
}
