.BigMenu {
  width: 100%;
  position: relatuve;
  top: 0;
  left: 0;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}
.bigSearch {
  width: 600px;
}
.bigSearch form {
  width: 580px;
}

.bigSearch form input {
  width: 450px;
  height: 40px;
  text-align: center;
  padding: auto auto;
  margin-right: 6px;
}


@media screen and (max-width: 1023px) {
  .BigMenu {
    display: none !important;
  }
}
