.ClientOrder {
  background: rgba(235,235,255,0.9);
  width: 100%;
}

.wrapClientid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #4B0082;
  padding-right: 10px;
  box-sizing: border-box;
}

.idClient span {
  font-size: 0.85rem;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.idClient p {
  font-size: 0.72rem;
}


.idClient {
  background: #4B0082;
  color: white;
  padding: 12px;
}

.compteYatte {
  text-transform: uppercase;
  margin-top: 10px;
  margin-left: 14px;
  margin-bottom: 10px;
  font-size: 0.8rem;
}

.contentCompte {
  background: white;
  padding: 10px 5px;
  margin: 0 10px;
  height: auto;
  border-radius: 10px;
  position: relative;
  overflow: auto;
}

.clientNotif {
  width: 100%;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.clientNotif p {
  margin-left: 5px;
}

.clientBTN {
  padding: 10px;
  font-size: 0.8rem;
  text-transform: uppercase;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}

.BookOpen {
  color: rgb(255,100,0);
  margin-left: 5px;
}


.btnlogout {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  background: #4B0082;
  color: white;
  padding: 12px;
  text-transform: uppercase;
  text-align: center;
  box-shadow: 2px 1px 3px rgba(200,200,255,1);
}

.itemCard {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  font-size: 0.75rem;
}

.itemCard img {
  width: 20%;

}

.clientHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px;
}

.clientLabel {
  text-align: center;
  font-size: 0.75rem;
  background: #007bff;
  color: white;
  padding: 5px;
}

.contentCompte2 {
  background: white;
  padding: 10px 5px;
  height: auto;
  margin: 0 10px;
  border-radius: 10px;
  position: relative;
  overflow: auto;
  
  scrollbar-width: none !important; 
  -ms-overflow-style: none !important; 
}


.contentCompte2::-webkit-scrollbar {
  width: 0px !important;
  height: 0px !important;
  background: transparent !important;
  display: none !important;
}


.clientWrapper > *:not(:last-child):not(:only-child) {
  border-bottom: 1px solid #ccc;
}


.cltSearch, .cltUser, .cltCart {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: rgba(0,0,0,0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(0,0,0,0.3);
}


.AlignJustify {
  width: 38px;
  height: 38px;
  padding: 4px;
  border-radius: 50%;
  background: rgba(0,0,0,0.1);
  color: rgba(0,0,0,0.3);
}



.orderCard + .orderCard {
  margin-top: 1rem;
  padding-top: 1rem;
}




.compteYatte {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.imgCommandeEma {
  width: 30%;
}

.HeaderOrderEm {
  width: 100%;
  background: white;
  display: flex;
  align-items: center;
  padding: 15px 20px;
}

.HeaderOrderEm p {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.orderEma {
  width: 100%;
  background: white;
  margin: 12px 0;
  font-size: 0.75rem;
  padding: 10px 8px;
}

.orderEma div {
  margin-bottom: 8px;
}

.orderEma p {
  background: white;
  color: rgba(0,0,0,0.75);
}

.articleEma {
  text-transform: uppercase;
  font-size: 0.65rem;
  margin-top: 12px;
  margin-bottom: 8px;
  padding-left: 10px;
}

.produitsCommande {
  width: 100%;
  background: white;
  font-size: 0.7rem;
  padding-top: 8px;
}

.produitCommandema {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 5px;
  font-size: 0.75rem;
  color: rgba(0,0,0,0.85);
}

.orderEmaT {
  padding-left: 8px;
  border-bottom: 0.5px solid black;
  padding-bottom: 5px;
  line-height: 25px;
}

.statusEma {
  background: #4B0082;
  color: white;
  padding: 5px;
}

.buyTema {
  text-transform: uppercase;
  font-size: 0.7rem;
  padding: 10px;
}


.buyEm {
  background: white;
}

.buyEmA {
  border-bottom: 0.5px solid rgba(0,0,0,0.3);
  padding-bottom: 10px;
}

.buyEmA div {
  font-size: 0.7rem;
  font-weight: 900;
  padding-left: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
}

.buyEmA p {
  font-size: 0.72rem;
  padding-left: 10px;
  color: rgba(0,0,0,0.6);
}

.buyEmb div {
  font-size: 0.7rem;
  font-weight: 900;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.buyEmb p {
  font-size: 0.72rem;
  padding-left: 10px;
  line-height: 20px;
  padding-bottom: 5px;
  color: rgba(0,0,0,0.6);
}

.cmdEMA {
  font-weight: 900;
}

.hysto {
  width: 100%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  margin-top: 5px;
}

.toggleHistorique {
  background: rgb(0,55,255);
  color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 1px 2px 1px black;
  font-size: 0.8rem;
  font-weight: 900;
}

.toggleHistorique:active {
  transform: scale(0.95);
}

.MoveClEma {
  background: rgb(0,55,255);
  color: white;
  box-shadow: 1px 2px 1px black;
  width: 42px;
  height: 32px;
  border-radius: 5px;
  padding: 0 3px;
}

.MoveClEma:active {
  transform: scale(0.95);
}

.wrapClientid button {
  padding: 9px;
  background: rgb(255,0,0);
  color: white;
  border: 0;
  box-shadow: 1px 2px 1px black;
  border-radius: 5px;
}

.wrapClientid button:active {
  transform: scale(0.95);
}