.Footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Georgia;
  gap: 5px;
  background: #4B0082;
  padding: 10px;
  color: white;
}
.YATTE {
  font-family: Georgia;
  font-size: 0.65rem;
}

.yate {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.67rem;
  font-weight: thin;
  font-family: Sans-Serif;
}

.yatef {
  margin-top: 10px;
  border-top: 1px solid white;
  padding: 10px;
  font-size: 0.67rem;
  width: 100%;
  text-align: center;
}